<!DOCTYPE html>
<html>
  <head>
    <!-- ヘッダー -->
    <header class="header">
      <div class="heading">
        <%= link_to "数当てゲーム", root_path, class: "logo" %>
      </div>
      <div class="navbar">
        <% if user_signed_in? %>
          <ul><div class="nav-lists">
            <li><%= link_to current_user.name, "#", class: "nav-lists__list" %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-lists__list" %></li>
              </div>
          </ul>
        <%else%>
          <ul><div class="nav-lists">
            <li><%= link_to "新規登録", new_user_registration_path, class: "nav-lists__list" %></li>
            <li><%= link_to "ログイン", new_user_session_path, class: "nav-lists__list" %></li>
              </div>
          </ul>
        <%end%>
      </div>
    </header>
  </head>
  <body>
   <!-- トップページのメイン -->
    <div class="index-main">
      <div class="math">
        <%= image_tag "math1.jpg", class:"math-image" %>
        <div class="math-items">
          <div class="math-text">
            <div class="math-text__main">数当てゲームをはじめよう</div>
            <div class="math-text__sub">推測して当てることはできるかな？</div>
          </div>
          <div class="start-btn"><a href="#">ゲームスタート</a></div>
        </div>
      </div>
    </div>

    <!-- フッター -->
    <footer class="footer">
    </footer>
  </body>
</html>
