<!DOCTYPE html>
<html>
  <head>
    <!-- ヘッダー -->
    <header class="header">
      <div class="heading">
        <%= link_to "数当てゲーム", root_path, class: "logo" %>
      </div>
      <div class="navbar">
        <% if user_signed_in? %>
          <ul><div class="nav-lists">
            <li><%= link_to current_user.name, "#", class: "nav-lists__list" %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-lists__list" %></li>
              </div>
          </ul>
        <%else%>
          <ul><div class="nav-lists">
            <li><%= link_to "新規登録", new_user_registration_path, class: "nav-lists__list" %></li>
            <li><%= link_to "ログイン", new_user_session_path, class: "nav-lists__list" %></li>
              </div>
          </ul>
        <%end%>
      </div>
    </header>
  </head>
  <body>
   <!-- トップページのメイン -->
    <div class="index-main">
      <div class="math">
        <%= image_tag "math1.jpg", class:"math-image" %>
        <div class="math-items">
          <div class="math-text">
            <div class="math-text__main">数当てゲームをはじめよう</div>
            <div class="math-text__sub">推測して当てることはできるかな？</div>
          </div>
            <div>
              <input class="start-btn" type="button" value="ゲームスタート" onclick="buttonClick();" >
            </div>
        </div>
      </div>
    </div>

    <!-- フッター -->
    <footer class="footer">
      <div class="copyright">Copyright©️2022 number-guess</div>
    </footer>
    <!-- ゲーム -->
    <script>
      <%if user_signed_in?%>
        function buttonClick(){
          'use strict';
          let message;
          let count = 1;
          let flag = 0;
          const number = Math.floor(Math.random() * 100) + 1;
          while (count <=7){ 
            const answer = parseInt(window.prompt('数当てゲーム。1〜100の数字を入力してね。7回まで挑戦できます'));
              window.alert(count + "回目です。")
              if(answer === number) {
                  message = 'あたりです！';
                  window.prompt(count + "回目で正解しました。おめでとうございます!");
                  document.querySelector("h1").innerHTML = "<h1>数当てゲーム、正解です!</h1>";
                  document.querySelector("h2").innerHTML = "<h2>おめでとうございます！</h2>";
                  flag = 1;
                  break;
              } else if((answer < number) && (answer >= 1)) {
                  message = '残念でした！もっと大きい';
              } else if((answer > number) && (answer <=100)) {
                  message = '残念でした！もっと小さい';
              } else {
                  message = '1〜100の数字を入力してね。';
              }
              window.alert(message);
              count = count + 1;  
          }
          if (flag === 0){
              window.alert("正解は" + number + "です");
          } 
        } 
      <%else%>
        redirect_to root_path
      <%end%>
    </script>
  </body>
</html>
